div(class="modal fade" id="myModal")
    div(class="modal-dialog")
        div(class="modal-content")
            div(class="modal-header")
                h4(class="modal-title")
                button(type="button" class="btn btn-danger btn-modal_close" data-dismiss="modal")= 'Close'